<!-- sidebar.component.html -->
<div class="sidebar">
  <ul>
    <li *ngFor="let item of sidebarItems; let i = index">
      <a href="javascript:void(0)" (click)="item.submenu ? toggleSubmenu(i) : null">
        <i class="{{ item.icon }}"></i> {{ item.title }}
      </a>

      <!-- Submenu -->
      <ul *ngIf="item.submenu && isSubmenuActive(i)">
        <li *ngFor="let subItem of item.submenu">
          <a [routerLink]="subItem.route">{{ subItem.title }}</a>
        </li>
      </ul>
    </li>
  </ul>
</div>
